body{
    background-image: url(../img/img1.jpg);
    background-size: 100%;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: white;
    font-size: 25px;
}
#tabla{
    color: white;
}
#cls{
    color: white;
    margin-left: 92%;
    font-size: 18px;
}